* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  max-width: 1440px;
  padding: 0px 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  background-color: #118da8;
  color: #ffffff;
  font-size: 17px;
  border-radius: 6px;
  border: none;
  padding: 14px 17px;
  font-family: "DM Sans", sans-serif;
}
.btn--top {
  padding-right: 23px;
}
.btn a {
  color: rgba(255, 255, 255, 0.6980392157);
}
.btn--middle {
  letter-spacing: 0.6px;
}

.link {
  background-color: #191919;
  color: #ffffff;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  padding: 3px 17px;
  font-family: "DM Sans", sans-serif;
}
.link--average {
  letter-spacing: -0.3px;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #191919;
  color: rgba(255, 255, 255, 0.6980392157);
  border: none;
  text-transform: capitalize;
  font-size: 24px;
  height: 82px;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid #191919;
  box-sizing: border-box;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
}

.logo {
  width: 160px;
  height: 33px;
  color: white;
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 41px;
  height: 100%;
  padding-top: 4px;
}
.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
.nav__link:hover, .nav--active {
  color: #118da8;
}

.section {
  padding: 50px 0;
}
.section__container {
  display: flex;
  padding: 0 20px;
}
.section__left {
  width: 52%;
}
.section__img {
  position: relative;
}
.section__img img {
  max-width: 100%;
}
.section__img:before {
  content: "";
  position: absolute;
  left: -25px;
  top: -26px;
  background-image: url(../images/section/lines.svg);
  background-size: 100%;
  width: 68px;
  height: 74px;
  z-index: 1;
}
.section__right {
  width: 50%;
  padding-top: 297px;
}
.section__content {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 13px;
  margin-bottom: 87px;
}
.section__title {
  position: relative;
  padding-top: 141px;
  padding-left: 59px;
}
.section__text {
  font-size: 70px;
  font-weight: 400;
  line-height: 86px;
  letter-spacing: 6.6px;
}
.section__text--text2 {
  font-size: 75px;
  letter-spacing: 5.3px;
}
.section__text--text3 {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 6px;
  padding-left: 19px;
}
.section__text--text3:before {
  content: "";
  position: absolute;
  left: 53px;
  bottom: -4px;
  left: 55px;
  background-image: url(../images/section/line__bottom.svg);
  background-size: 100%;
  width: 163px;
  height: 11px;
  z-index: 2;
}
.section__item {
  padding-left: 81px;
}
.section__txtbottom h5 {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.section__link {
  padding-top: 13px;
}
.section__link a {
  display: inline-block;
  margin-right: 13px;
  font-size: 0px;
}

.content {
  padding-top: 29px;
  margin-bottom: 265px;
}
.content__header {
  padding: 6px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 6.1px;
}
.content__button {
  padding-top: 31px;
  margin-right: -23px;
}
.content__container {
  box-sizing: border-box;
  margin-top: 60px;
  margin-left: 19px;
}

.contentItem {
  display: flex;
  background-color: #000000;
  border-radius: 32px;
  margin-bottom: 64px;
  padding: 40px 40px 35px;
}
.contentItem__image {
  font-size: 0;
}
.contentItem__content {
  padding-left: 52px;
  padding-top: 7px;
}
.contentItem__tag {
  margin-bottom: 46px;
}
.contentItem__link {
  color: #118da8;
  font-size: 17px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 19px;
}
.contentItem__link span {
  padding-left: 4px;
}
.contentItem__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 5.56px;
  margin-bottom: 27px;
}
.contentItem__title--average {
  letter-spacing: 5.9px;
}
.contentItem__title--bottom {
  letter-spacing: 2.2px;
}
.contentItem__desc {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 18px;
}
.contentItem__btn a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.tutorial__header {
  display: flex;
  margin-bottom: 197px;
}
.tutorial__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 148px;
  padding-left: 20px;
}
.tutorial__left h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 75.2px;
  letter-spacing: 5.58px;
  margin-bottom: 29px;
}
.tutorial__wrapBtn {
  margin-bottom: 22px;
}
.tutorial__btn {
  background-color: #118da8;
  border-radius: 50%;
  border: none;
  width: 112px;
  height: 112px;
}
.tutorial__link {
  color: #118da8;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}
.tutorial__txt {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
.tutorial__txt--top {
  margin-bottom: 33px;
}
.tutorial__right {
  width: 40%;
  padding-right: 122px;
}
.tutorial__content {
  background-color: #000000;
  border-radius: 32px;
  display: flex;
}
.tutorial__lf {
  width: 50%;
}
.tutorial__lf a {
  color: #118da8;
  font-size: 18px;
  line-height: 27px;
}
.tutorial__lf h2 {
  font-size: 72px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.88px;
}
.tutorial__rh {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 90px;
}

.input__form {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  color: rgba(255, 255, 255, 0.6980392157);
  border: none;
  text-transform: capitalize;
  font-size: 24px;
}

.form .wrapper {
  padding: 0 60px 0 78px;
}
.form__content {
  background-color: #000000;
  border-radius: 32px;
  display: flex;
  padding: 60px 64px;
  position: relative;
  margin-bottom: 200px;
}
.form__content::before {
  content: "";
  position: absolute;
  background-image: url("../images/form/formVector.svg");
  width: 147px;
  height: 91px;
  left: -37px;
  bottom: -26px;
}
.form__lf {
  width: 50%;
}
.form__lf a {
  color: #118da8;
  font-size: 18px;
  line-height: 27px;
}
.form__lf h2 {
  font-size: 72px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 5.88px;
}
.form__rh {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 135px;
  margin-bottom: 17px;
}
.form__rh > * {
  margin-bottom: 18px;
}
.form__rh > *:last-child {
  margin-bottom: 0;
}

.box .wrapper {
  padding: 0 60px 0 78px;
}
.box__content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 423px);
  column-gap: 17px;
  row-gap: 18px;
  margin-bottom: 202px;
}
.box__cart {
  background-color: #000000;
  border-radius: 32px;
  padding: 46px;
  max-width: 423px;
}
.box__cart--bott {
  background-color: #000000;
  border-radius: 32px;
  max-width: 423px;
}
.box__tx {
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  padding: 13px 0 0 7px;
  letter-spacing: 1.3px;
  margin-bottom: 18px;
}
.box__tx--bot {
  letter-spacing: 0.7px;
}
.box__tit {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  opacity: 0.7;
  padding-left: 7px;
  margin-bottom: 2px;
}
.box__tit--bot {
  letter-spacing: -0.7px;
}

.rating {
  display: inline-flex;
}
.rating--bottom {
  display: inline-flex;
}
.rating__item {
  color: yellow;
  cursor: pointer;
  transition: 0.5s;
  width: 24px;
  font-size: 25px;
}
.rating__item:hover {
  color: brown;
}
.rating__item--bot {
  color: yellow;
  cursor: pointer;
  transition: 0.5s;
  width: 23px;
  font-size: 25px;
}
.rating__item--bot:hover {
  color: brown;
}

.footer__container {
  display: flex;
  margin-bottom: 110px;
}
.footer__main {
  max-width: 447px;
}
.footer__logo {
  padding-left: 22px;
  padding-top: 18px;
  margin-bottom: 30px;
}
.footer__logo a {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.8px;
}
.footer__icon {
  padding-left: 20px;
}
.footer__icon ul {
  display: flex;
  gap: 10px;
}
.footer__content {
  max-width: 178px;
  padding-left: 239px;
}
.footer__cont {
  max-width: 178px;
  padding-left: 123px;
}
.footer__nav li {
  padding-bottom: 11px;
}
.footer__nav a {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
.footer__nav span {
  letter-spacing: 0.5px;
}
.footer__item {
  max-width: 440px;
  padding-left: 22px;
}
.footer__link a {
  display: inline-block;
  margin-right: 13px;
  font-size: 0px;
}