* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  max-width: 1440px;
  padding: 0px 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 38px 0px;
}

.logo {
  width: 160px;
  height: 33px;
  color: white;
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 41px;
  height: 100%;
  padding-top: 3px;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
.nav__link:hover, .nav__link--active {
  color: #118DA8;
}

.section {
  padding: 42px 0;
}
.section__container {
  display: flex;
  padding: 0 20px;
}
.section__left {
  width: 52%;
}
.section__img {
  position: relative;
}
.section__img img {
  max-width: 100%;
}
.section__img:before {
  content: "";
  position: absolute;
  left: -25px;
  top: -26px;
  background-image: url(../images/section/lines.svg);
  background-size: 100%;
  width: 68px;
  height: 74px;
  z-index: 1;
}
.section__right {
  width: 50%;
}