.content {
  padding-top: 29px;
  margin-bottom: 265px;

  .wrapper {
  }

  &__header {
    padding: 6px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 6.1px;
  }

  &__button {
    padding-top: 31px;
    margin-right: -23px;
  }

  &__container {
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: 19px;
  }
}

.contentItem {
  display: flex;
  background-color: #000000;
  border-radius: 32px;
  margin-bottom: 64px;
  padding: 40px 40px 35px;

  &__image {
    font-size: 0;
  }

  &__content {
    padding-left: 52px;
    padding-top: 7px;
  }

  &__tag {
    margin-bottom: 46px;
  }

  &__link {
    color: #118da8;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 19px;
    span {
      padding-left: 4px;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 5.56px;
    margin-bottom: 27px;

    &--average {
      letter-spacing: 5.9px;
    }

    &--bottom {
      letter-spacing: 2.2px;
    }
  }

  &__desc {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 18px;
  }

  &__btn {
    a {
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
    }
  }
}
