.header__content {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
}

.logo {
  width: 160px;
  height: 33px;
  color: white;
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 41px;
  height: 100%;
  padding-top: 4px;

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
  }

  &__link:hover,
  &--active {
    color: #118da8;
  }
}
