.section {
  padding: 42px 0;

  &__container {
    display: flex;
    padding: 0 20px;
  }

  &__left {
    width: 52%;
  }

  &__img {
    position: relative;

    img {
      max-width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      left: -25px;
      top: -26px;
      background-image: url(../images/section/lines.svg);
      background-size: 100%;
      width: 68px;
      height: 74px;
      z-index: 1;
    }
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 129px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 13px;
    padding-top: 167px;
    height: 50%;
  }

  &__title {
    position: relative;
    padding-top: 141px;
    padding-left: 59px;
  }

  &__text {
    font-size: 70px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 6.6px;

    &--text1 {
    }

    &--text2 {
      font-size: 75px;
      letter-spacing: 5.3px;
    }

    &--text3 {
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 6px;
      padding-left: 19px;
    }

    &--text3:before {
      content: "";
      position: absolute;
      left: 53px;
      bottom: -4px;
      left: 55px;
      background-image: url(../images/section/line__bottom.svg);
      background-size: 100%;
      width: 163px;
      height: 11px;
      z-index: 2;
    }
  }

  &__item {
    padding-top: 91px;
    padding-left: 79px;
    height: 50%;
  }

  &__txtbottom {
    h5 {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__link {
    padding-top: 17px;
    a {
      padding-right: 13px;
    }
  }
}
